Logs/
Library/
Temp/
UserSettings/Layouts/default-2021.dwlt
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
UserSettings/Layouts/default-2021.dwlt
Bronze-Steam.sln
Assembly-CSharp.csproj
UserSettings/Layouts/default-2021.dwlt
.vsconfig
UserSettings/Layouts/default-2021.dwlt
.vs/Bronze-Steam/xs/UserPrefs.xml
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
.vs/Bronze-Steam/xs/project-cache/Assembly-CSharp-Debug.json
UserSettings/Layouts/default-2021.dwlt
UserSettings/Layouts/default-2021.dwlt
